<div class="container mx-auto p-4">
  <div class="block mb-4">
    <a
      routerLink="/products/create"
      class="bg-blue-500 text-white px-4 py-2 rounded-md"
    >
      Create New Product
    </a>
  </div>
  @if (productsResource.isLoading()) {
    <p>Loading...</p>
  } @else if (productsResource.error()) {
    <p>Error: {{ productsResource.error() }}</p>
  } @else {
    <div class="flex flex-col gap-4">
      @for (product of productsResource.value()?.data ?? []; track $index) {
        <div class="border p-4 rounded-md shadow-md">
          <h2 class="text-xl">{{ product.title }}</h2>
          <p class="text-md">
            Price: <b>{{ product.price | currency }}</b>
          </p>
          <p class="text-sm">Description: {{ product.description }}</p>
          <div class="flex flex-row gap-2">
            <a
              routerLink="/products/{{ product.id }}"
              class="text-blue-500 hover:underline"
              >View</a
            >
          </div>
        </div>
      }
    </div>
  }
</div>
